<h1>Ticketeer</h1>

<p>Now serving: <%= now_serving? %>
<%= "(That's you! ;] )" if serving_current_user? %>
</p>

<% if user_signed_in? %>
  <p>Your ticket number: <%= my_ticket_number %></p>
  <% if !ticket_in_queue? %>
    <%= link_to "Take a number", take_number_path %>
  <% end %>
  <% if can_service_tickets? %>
    <%= link_to "Service Ticket", service_ticket_path %>
  <% end %>
<% else %>
  <p>Sign in to take a number.</p>
<% end %>
