<% if user_signed_in? %>
  <div class="span6">
    <p>Your ticket number: <%= my_ticket_number %></p>
    <% if !ticket_in_queue? %>
      <%= link_to '<span class="glyphicon glyphicon-hand-up"></span> Take a number'.html_safe, take_number_path, :class => "btn btn-primary btn-lg" %>
    <% end %>
    <% if can_service_tickets? && Ticket.next_open.first %>
      <%= link_to '<span class="glyphicon glyphicon-user"></span> Service Ticket'.html_safe, service_ticket_path, :class => "btn btn-warning btn-lg" %>
    <% end %>
  </div>
  <%= render "now_serving" %>
<% else %>
  <%= link_to 'Sign in to take a number', user_omniauth_authorize_path(:google_oauth2), :class => "btn btn-default btn-lg" %>
<% end %>
